/*
Theme Name: TheWave
Theme URI: https://luiscolome.com
Description: This is a Genesis Child Theme by Luis Colomé.
Author: Luis colomé
Author URI: https://luiscolome.com/

Version: 1.0.2.9.1

Template: genesis

GitHub Theme URI: https://github.com/LuisColome/thewave

License: GPL-2.0-or-later
License URI: https://www.gnu.org/licenses/gpl-2.0.html

Text Domain: the_wave_child
Requires at least: 5.4
Requires PHP: 5.6
*/
