// Animations.

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
 // Use in different items
.fadefirst {
    animation: fadeInUp .8s .5s both;
} 

.fadesecond {
    animation: fadeInUp .8s .8s both;
}

.fadethird {
    animation: fadeInUp .8s 1.4s both;
}