// Archive 
@import "base";

/* Archive Styles (based on partials). 
------------------------------------------------------------------------------ */

.lcm-posts {

    &.grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: $margin_2x $grid-gap;

        @include media(">=small") {
            grid-template-columns: 1fr 1fr;
            justify-items: stretch;
        }

        @include media(">=medium") {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.lcm-post {
    display: flex;
    flex-flow: column;

    // @include media('>=tablet') {
    //     flex-flow: row;
    // }

    .lcm-post__image {
        position: relative;
    }

    .lcm-post__image-link img {
        border-radius: $border-radius;
    }

    .lcm-post__header {
        background-color: brand-color( 'grey' );
        padding: $block-margin $wrap_edge;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    .lcm-post__title {
        line-height: 1;
        margin: 0 0 $base-margin 0;
        
        a {
            @include font-sizes(20px, 22px, 22px);
            text-decoration: none;
            color: $grey_9;
            font-weight: 400;
            
            &:hover {
                color: brand-color( 'green' );;
            }
        }
    }

    .lcm-post__category {
        color: $grey_6;
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        bottom: 20px;
        left: 30px;

        a {
            color: $white;
            text-decoration: none;
            background-color: rgba(255,255,255,.3);
            padding: 3px 10px;
            border-radius: 3px;
        }
    }

    .lcm-post__excerpt {
        font-size: 15px;
    }

	.lcm-post__read-more-link {
		text-decoration: none;
		font-size: 70%;
		text-transform: uppercase;

		&::after {
			content: "\2192";
			display: inline-block;
			margin-left: 4px;
		}
	}
}

/* Archive Header
--------------------------------------------- */

.archive-description {
	text-align: center;
	width: 100%;
	max-width: $content-width;
	margin: 0 auto $grid-gap;

	& > *:last-child {
		margin-bottom: 0;
	}

	.search-form {
		margin: 0 auto;
	}

}

.author-archive-description {

	.avatar {
		border-radius: 50%;
		display: block;
		margin: 0 auto 16px;
	}

	h3:last-child {
		@include media(">=tablet") {
			margin-top: 48px;
		}
	}
}

.author-title {
	color: $grey_8;
	@include font-sizes( 18px, 20px );
	font-weight: 700;
	text-transform: uppercase;
}


/* Entry Navigation
--------------------------------------------- */

.pagination {
	border-top: 1px solid $border-color;
	font-size: 16px;
	text-align: center;
	padding-top: 22px;
    grid-column: 1 / -1;
    margin: 3rem 0;

	ul {
		margin: 0;

		li {
			list-style-type: none;
			display: inline-block;

			a {
				color: $base-color;
				border-radius: 50%;
				display: block;
				font-weight: 400;
				text-decoration: none;
				width: 29px;
				height: 29px;
				line-height: 30px;
				text-align: center;
			}

			&.pagination-next a,
			&.pagination-previous a {
				width: auto;
			}

			&:hover > a {
				color: $highlight;
			}

			&.active > a {
				background: $highlight;
				color: $white;
				font-weight: 700;
			}
		}
	}
}