// Colors
$white: #ffffff;
$grey_1: #faf8f6;
$grey_2: #f7f4f2;
$grey_3: #eeeeee;
$grey_4: #e0e0e0;
$grey_5: #bdbdbd;
$grey_6: #9e9e9e;
$grey_7: #757575;
$grey_8: #616161;
$grey_9: #414243;
$grey_10: #252525;
$black: #000;



// Brand Colors
$brand_colors: (
    'midnight' : #334e79,
    'blue': #91B5D0,
    'gold' : #F8C60D,
    'grey' : $grey_2,
    'white' : $white,
    'dark-grey' : $grey_9,
);
@import "../modules/brand-color";

$primary-color: brand-color('midnight');
$secondary-color: brand-color('blue');
$highlight: brand-color( 'midnight', 'darken' );
$grey: brand-color( 'grey' );
$base-color: $grey_10;
$border-color: $grey_4;

$facebook: #3b5998;
$twitter: #00b6f1;
$pinterest: #cb2027;


// Fonts
$serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida,
  "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$sans-serif: 'Wotfard', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$argesta: 'Argesta';
// $wotfard: 'Wotfard';

// Content
$content-width: 768px;
$block-margin: 20px;
$base-margin: 1.1rem;
$border-radius: 2px;

// Grid
$grid: grid;
$grid-width: 1340px;
$grid-gap: 32px;
$wrap_edge: $base-margin * 1.25;
$margin_2x: $base-margin * 2;
$margin_4x: $base-margin * 4;

// Site Header
$logo_width: 200px;

// Include Media
$breakpoints: (
  "phone": 320px,
  "small": 600px,
  "tablet": 768px,
  "medium": 960px,
  "desktop": 1024px,
  "large": 1200px,
);

@import "../modules/base-styles";
@import "../vendor/include-media";
