/** Contact Form 7
---------------------------------------------------------------------------- */

.lcm-cf7-form {

    .lcm-cf7-form_columns {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: $block-margin;

        @include media('>=tablet') {
            grid-template-columns: 1fr 1fr;
            gap: $block-margin;
        }
    }

    .lcm-cf7-form__input input {
        margin: $block-margin 0;
        padding: 14px 36px;
        width: auto;
        min-width: 230px;
        border: none;
        color: $white;
        background-color: $primary-color;

        &:hover {
            color: $highlight;
        }
    }
}

/* Genesis Blocks
---------------------------------------------------------------------------- */

.gb-block-post-grid h2 a {
    text-decoration: none;
}
  
.gb-block-post-grid .gb-post-grid-items h2 a:hover {
    color: brand-color( 'green' );
}

@media only screen and (max-width: 510px) {
    .gb-block-container.alignfull::before {
        content: " ";
        display: table;
    }

    .gb-block-container.alignfull::after {
    clear: both;
    content: " ";
    display: table;
    }
}

.entry-content > *,
.block-area > * {
  
    .wp-block-genesis-blocks-gb-testimonial {
        border-radius: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        &.stretch {
            height: 100%;
        }

        .gb-testimonial-text {
            font-style: italic;
        }

        .gb-testimonial-info {
            padding: 0;

            .gb-testimonial-avatar-wrap {
                top: 50%;
                transform: translateY(-50%);

                .gb-testimonial-image-wrap {
                    width: 40px;
                    height: 40px;
                }
            }

            .gb-testimonial-name,
            small {
                font-size: 16px;
            }

            .gb-testimonial-name {
                margin-bottom: 10px;
                color: brand-color( 'green' ) !important;

            }
        }

    }
}


/** Genesis Blocks Accordions
------------------------------------------------------ */

.gb-block-accordion {
    margin-bottom: 10px;
    border-bottom: 2px solid brand-color( 'medium-green');

    details {
    
        &:hover {
            cursor: pointer;
        }
    
        .gb-accordion-title {
            position: relative;
            font-family: $argesta, $serif;
            @include font-sizes(18px, 20px, 20px);
            padding: 15px 45px 15px 10px;
            background-color: brand-color( 'grey' );

            strong {  // CSS hack to make the strong numbers bigger and green
                
                font-size: 140%;
                margin-right: $block-margin;
                color: brand-color('green');
            }
        
            &::marker {
                content: "";
            }
        
            &:after{
                content: url("../../assets/icons/utility/navigate-down-green.svg");
                position: absolute;
                right: 2.4rem;
                top: 45%;
                right: 20px;
                width: 15px;
                height: 15px;
                transform: translateY(-50%);
                pointer-events: none; 
                transform-origin: center center;
            }
        }

        &[open] {

            .gb-accordion-title {
                background-color: $white;

                &::after {
                    transform: rotate(180deg) translateY(-50%);
                }
            }

            .gb-accordion-text {
                background-color: $white;
            }
        }
    }

    .gb-accordion-text {
        padding: $block-margin $wrap_edge;
    }
}


/** Genesis Blocks - Post and Page Grid
--------------------------------------------------------------- */

.gb-block-post-grid.twc-post-grid {

    .is-grid.columns-3 {
        grid-template-columns: 1fr;

        @include media('>=tablet', '<medium') {
            grid-template-columns: 1fr 1fr;
        }

        @include media('>=medium') {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .is-grid article:first-child {
        grid-column: 1/-1;

        @include media('>medium'){
            grid-column: 1/3;            
        }
                
    }

    .gb-block-post-grid-image {
        margin-bottom: 0;

        a {
            display: block;
            position: relative;
            // padding-top: 260px;
            padding-top: 66%;

            @include media('>=medium') {
                padding-top: 220px;
            }

            @include media('>=1140px') {
                padding-top: 280px;
            }

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                object-fit: cover;
                
            }
        }
    }

    .gb-block-post-grid-text {
        padding: $block-margin $wrap_edge;
        background-color: brand-color('grey');
    }
} 