@import "../modules/helpers";

/* Typographical Elements
--------------------------------------------- */

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  @include base-style();
}

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  transition: all 0.2s ease-in-out;
}

a {
  color: brand-color( 'green' );;
  text-decoration: underline;
  text-decoration-color: $grey-7;
  @include transition;
  &:hover {
    color: $grey-7;
  }
  svg {
    @include transition;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li.no-style {
  list-style-type: none;
}

ul.check-list {
    list-style: none;

    li {
        position: relative;
        
        &::before{
            content: "";
            position: absolute;
            top: 2px;
            left: -24px;
            display: inline-block;
            height: 18px;
            width: 18px;
            background-image: url(../icons/utility/circle-checked.svg);
            background-size: cover;
        }
    }
}

hr {
  border: 0;
  border-collapse: collapse;
  border-bottom: 1px solid currentColor;
  clear: both;
  color: $grey_3;
  margin: 1.65em auto;
}

strong {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

.clearfix {
  @include clearfix;
}

/* Paragraph
--------------------------------------------- */

p {
  margin: 0 0 28px;
  padding: 0;

  &.has-small-font-size {
    font-size: 13px;
  }

  &.has-normal-font-size {
    font-size: 15px;
  }

  &.has-large-font-size {
    font-size: 20px;
  }

  &.has-huge-font-size {
    font-size: 24px;
  }
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey_9;
  font-family: $ivymode, $sans-serif;
  font-weight: 700;
  line-height: 1.2;

  .entry-content & { // overwrite the default.
    margin-top: $margin_4x;
  }

  &.allura {
    font-family: $allura, $sans-serif;
    margin-bottom: 40px;
  }

  a {
    color: $grey-9;

    &:hover {
      color: brand-color( 'green' );;
      text-decoration: none;
    }
  }

  &:focus {
    outline: none;
  }
}

h1 {
  @include font-sizes(34px, 48px, 42px);

  &.allura {
    @include font-sizes(65px, 85px, 105px);
  }
}

h2 {
  @include font-sizes(26px, 32px, 36px);

  &.allura {
    @include font-sizes(50px, 60px, 70px);
  }
}

h3 {
  @include font-sizes(22px, 26px, 28px);

  &.allura {
    @include font-sizes(45px,52px, 60px);
  }
}

h4{
  @include font-sizes(20px, 24px, 26px);
}

h5,
h6 {
  @include font-sizes(18px, 22px);
}

h6 {
  text-transform: uppercase;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: top;
}

figure {
  margin: 0;
}
