@import "../modules/helpers";

/* Typographical Elements
--------------------------------------------- */

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  
  @include font-sizes(16px, 17px, 18px);
}

body {
  @include base-style();
}

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
    @include transition;
}

a {
    color: brand-color( 'green' );
    text-decoration: underline;
    text-decoration-color: $grey-7;
    font-weight: 500;
    @include transition;

    &:hover {
    color: $grey-7;
    text-decoration: none;
    }

    svg {
    @include transition;
    }

    .go-link & {
        position: relative;
        text-decoration: none;
        @include transition;

        &::after {
            content: '\279C';
            font-weight: 300;
            font-size: 90%;
            position: absolute;
            transform: translateX(4px);
            @include transition;
        }

        &:hover::after {
            transform: translateX(9px);
        }
    }
}

ol,
ul {
  margin: 0;
  padding: 0;
}

ul.no-style {
  list-style-type: none;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-bottom: 1px solid currentColor;
  clear: both;
  color: $grey_3;
  margin: 1.65em auto;
}

strong {
  font-weight: 500;
}

em,
i {
  font-style: italic;
}

.clearfix {
  @include clearfix;
}

/* Paragraph
--------------------------------------------- */

p {
  margin: 0 0 28px;
  padding: 0;
}

.has-small-font-size {
    font-size: 0.8rem;
}

.has-normal-font-size {
    font-size: 1rem;
}

.has-large-font-size {
    font-size: 1.24rem;
    line-height: 1.42;
}

.has-huge-font-size {
    font-size: 1.6rem;
    line-height: 1.42;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $grey_9;
    font-family: $argesta, $serif;
    font-weight: 400;
    line-height: 1.2;
    margin: .6em 0 .4em;

    .entry-content > & { // overwrite the default.
    margin-top: 1em;
    }

    &.bigger {
        @include font-sizes(2.4em, 3.2em, 4em);
        font-style: italic;
        font-weight: 300;
    }

    a {
    color: $grey-9;
    text-decoration: none;

    &:hover {
        color: brand-color( 'green' );
    }
    }

    &:focus {
    outline: none;
    }
}

h1 {
  @include font-sizes(2.4em, 2.8em, 3.5em);
}

h2 {
  @include font-sizes(1.8em, 2em, 2.5em);
}

h3 {
  @include font-sizes(1.7em, 2em, 2.3em);
}

h4{
  @include font-sizes(1.5em, 1.8em, 2.1em);
}

h5,
h6 {
  @include font-sizes(1.1em, 1.4em);
}

h6 {
  text-transform: uppercase;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: top;
}

figure {
  margin: 0;
}
