// Custom block styles

/** Custom lists
----------------------------------------------------------------- */

ul {
    
    &.check-list {
        list-style: none;

        li {
            position: relative;
            
            &::before{
                content: "";
                position: absolute;
                top: 2px;
                left: -24px;
                display: inline-block;
                height: 18px;
                width: 18px;
                background-image: url(../icons/utility/circle-checked.svg);
                background-size: cover;
            }
        }
    }

    &.white-links {
        
        a {
            color: $white;
            text-decoration-color: $white;
        
            &:hover,
            &:focus {
                color: $grey-5;
                text-decoration: none;
            }
        }
    }
}



@include media('<small') {
    .no-mobile {
        display: none;
    }
}

/** The Wave schedule List
------------------------------------------------------------------- */

.entry-content {

    .wp-block-group.schedule {

        @include media('<=tablet') {
            padding: 0!important;
        }

        // @include media('>small','<=tablet') {
        //     padding-left: 0; //play with the paddiong on the group to give some space to the list.
        // }
    
        .list-schedule {
            list-style: none;
            margin: 0 auto;
    
            @include media('<=tablet') {
                padding-left: 0; // No padding left on mobile to give space to the list.
            }
    
            li {
                font-size: 16px;
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-start;
                margin-bottom: .4rem;
            }
    
            strong {
                font-size: 24px;
                margin: -3px 3% 0 0;
                display: block;
                min-width: 4.25ch;
                line-height: 1.2;
            }
        }
    }


    .wp-block-media-text__content {
        padding: 4% 0 4% 2%;
    }
}



.thewave-title,
.thewave-subtitle {
    margin-bottom: 0;
    line-height: .8;
    letter-spacing: .25em;
}

.nmb {
    margin-bottom: 0 !important;
}