@import "../modules/helpers";
@import "../vendor/include-media";

.reasons {
    
    &__blocks{
        display: grid;
        gap: $grid-gap;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .reason {
        background-color: $grey;
        display: grid;
        justify-items: center;
        align-items: center;
        padding: $margin_2x 1em;

        > * {
            margin: 0;
        }

        &__subtitle {
            @include font-sizes(26px, 30px, 36px);
            line-height: 1;

            span {
                font-size: 65px;
                display: block;
            }
        }

        &__text {
            font-size: 140%;
            line-height: 1.2;
        }
    }
}