// Custom block styles

/** Custom lists
----------------------------------------------------------------- */

ul {
    
    &.check-list {
        list-style: none;

        li {
            position: relative;
            
            &::before{
                content: "";
                position: absolute;
                top: 2px;
                left: -24px;
                display: inline-block;
                height: 18px;
                width: 18px;
                background-image: url(../icons/utility/circle-checked.svg);
                background-size: cover;
            }
        }
    }

    &.white-links {
        
        a {
            color: $white;
            text-decoration-color: $white;
        
            &:hover,
            &:focus {
                color: $grey-5;
                text-decoration: none;
            }
        }
    }
}



@include media('<small') {
    .no-mobile {
        display: none;
    }
}

/** The Wave schedule List
------------------------------------------------------------------- */

.entry-content .wp-block-group.schedule {

    @include media('>small','<=tablet') {
        padding-left: 0; //play with the paddiong on the group to give some space to the list.
    }

    .list-schedule {
        list-style: none;
        margin: 0 auto;

        @include media('<=tablet') {
            padding-left: 0; // No padding left on mobile to give space to the list.
        }

        strong {
            font-size: 140%;
            margin-right: 3%;
            display: inline-block;
            min-width: 4.25ch;
        }
    }
}

.thewave-title,
.thewave-subtitle {
    margin-bottom: 0;
    line-height: .8;
    letter-spacing: .25em;
}

.nmb {
    margin-bottom: 0 !important;
}