// Fonts for The Wave site. 

/**
 * IvyMode-regular  (Localhost)
 */
//  @font-face {
//     font-family: 'IvyMode';
//     font-style: normal;
//     font-weight: 400;
//     src: url('http://localhost/wa/wp-content/themes/thewave/assets/fonts/IvyMode-Regular.woff2') format('woff2'),
//          url('http://localhost/wa/wp-content/themes/thewave/assets/fonts/IvyMode-Regular.woff') format('woff');
//     font-display: optional;
// }

/**
 * IvyMode-regular
 */
 @font-face {
    font-family: 'IvyMode';
    font-style: normal;
    font-weight: 400;
    src: url('/wp-content/themes/thewave/assets/fonts/IvyMode-Regular.woff2') format('woff2'),
         url('/wp-content/themes/thewave/assets/fonts/IvyMode-Regular.woff') format('woff');
    font-display: optional;
}

/**
 * Wotfard-light
 */
 @font-face {
    font-family: 'Wotfard';
    font-style: normal;
    font-weight: 300;
    src: url('/wp-content/themes/thewave/assets/fonts/wotfard-light-webfont.woff2') format('woff2');
    font-display: optional;
}

/**
 * Wotfard-regular
 */
 @font-face {
    font-family: 'Wotfard';
    font-style: normal;
    font-weight: 400;
    src: url('/wp-content/themes/thewave/assets/fonts/wotfard-regular-webfont.woff2') format('woff2');
    font-display: optional;
}

/**
 * Wotfard-medium
 */
 @font-face {
    font-family: 'Wotfard';
    font-style: normal;
    font-weight: 500;
    src: url('/wp-content/themes/thewave/assets/fonts/wotfard-medium-webfont.woff2') format('woff2');
    font-display: optional;
}

/**
 * Argesta-regular
 */
 @font-face {
    font-family: 'Argesta';
    font-style: normal;
    font-weight: 400;
    src: url('/wp-content/themes/thewave/assets/fonts/argestatext-regular-webfont.woff2') format('woff2');
    font-display: optional;
}

/**
 * Argesta-regular-italic
 */
 @font-face {
    font-family: 'Argesta';
    font-style: italic;
    font-weight: 400;
    src: url('/wp-content/themes/thewave/assets/fonts/argestatext-regularitalic-webfont.woff2') format('woff2');
    font-display: optional;
}

/**
 * Argesta-headline-italic
 */
 @font-face {
    font-family: 'Argesta';
    font-style: italic;
    font-weight: 300;
    src: url('/wp-content/themes/thewave/assets/fonts/argestaheadline-regularitalic-webfont.woff2') format('woff2');
    font-display: optional;
}
