// Forms, Tables and buttons (not block)

/* Forms
--------------------------------------------- */

input, select, textarea {
	background: $grey_1;
	border: 1px solid $grey_3;
	border-radius: $border-radius;
	color: $base-color;
	font-size: 15px;
	line-height: 24px;
	padding: 14px 16px;
	width: 100%;
}

select {
	line-height: 54px;
	height: 54px
}

textarea {
	width: 100%;
}

@include placeholder-color( $grey_6 );

/* Search Form

--------------------------------------------- */

.search-form {
	border: 1px solid $border-color;
	max-width: 400px;
	position: relative;
	overflow: hidden;

	.search-field {
		border: none;
		padding-right: 44px;
		width: 100%;
	}

	.search-submit {
		background: transparent;
		border: none;
		padding: 0;
		margin: 0;
		min-width: 0;
		width: 44px;
		height: 44px;
		line-height: 0;
		text-align: center;
		position: absolute;
		top: 50%;
		margin-top: -22px;
		right: 0;

		svg {
			fill: $grey_7;
			@include icon-position( 20px );

			&:hover {
				fill: $highlight;
			}
		}

	}
}