// footer and creds

/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background: $highlight;
	padding: 40px $wrap_edge 10px;
	position: relative;
	color: $white;

    .wrap {
        max-width: $grid-width;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        
        &::before,
        &::after {
            content: none;
        }

        .footer-widgets-1,
        .footer-widgets-2 {
            width: 100%;
            
            .widget-wrap {
                max-width: 320px;
                margin: 0 auto;
            }
        }

        .footer-widgets-2 {
            margin-bottom: $margin_2x;

            .widget {
                margin-bottom: .5rem;
            }

            p {
                text-align: center;
            }
        }

        .footer-widgets-3,
        .footer-widgets-4,
        .footer-widgets-5 {
            width: 50%;
        }

        @include media('>=small') {
            align-items: center;

            .footer-widgets-1,
            .footer-widgets-2 {
                width: 47.5%;
            }

            .footer-widgets-2 {
    
                p {
                    text-align: left;
                }
            }

            .footer-widgets-3,
            .footer-widgets-4,
            .footer-widgets-5 {
                width: 32%;
            }
        }

        @include media('>=medium') {

            .footer-widgets-1,
            .footer-widgets-2,
            .footer-widgets-3,
            .footer-widgets-4,
            .footer-widgets-5 {
                width: 18.2%;
            }
        }
    }

	ul {
		margin-bottom: 30px;
	}

	li {
		list-style-type: none;
		margin-bottom: 12px;
	}

	.widget-title {
		color: $white;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-bottom: 1.35em;
	}

	a {
		color: $white;
		text-decoration: none;
        font-weight: 300;

		&:hover {
			text-decoration: underline;
		}

		svg {
			fill: $white;
			@include icon-position( 20px );
			margin-right: 12px;
		}
	}
}
  
/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background: $highlight;
	color: rgba( $white, .75 );
	font-size: 14px;
	padding: 32px 0;
	text-align: center;

	.wrap {
    max-width: $grid-width;
    margin: 0 auto;
    
    & > *:last-child {
		  margin-bottom: 0;
	  }
}

	a {
		color: rgba( $white, .75 );

		&:hover {
			color: rgba( $white, 1 );
		}
	}

	.footer-links a + a {
		margin-left: 12px;
	}

	@include media(">=tablet") {
		text-align: left;

		.footer-left {
			float: left;

			& > *:last-child {
				margin-bottom: 0;
			}
		}

		.copyright,
		.footer-links {
			display: inline-block;
			margin-right: 20px;
		}
	}

}

.backtotop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: $base-color;
    border-radius: $border-radius;
    line-height: 0;
    padding: 10px;
    text-decoration: none;
    // display: none;
    visibility: hidden;
    @include transition;

    svg {
        fill: $white;
        vertical-align: middle;
    }

    &.visible {
        // display: block;
        visibility: visible;
        opacity: .5;
        // @include transition;
    }

    &:hover {
        background-color: $primary-color;
        opacity: 1;
    }
}