// Gutenberg Styles. 
@import "../../assets/scss/partials/base";
@import "../../assets/scss/partials/fonts";
@import "../../assets/scss/partials/blocks-base";
@import "../../assets/scss/partials/blocks-core";
@import "../../assets/scss/partials/blocks-plugin";
@import "../../assets/scss/partials/blocks-custom";
@import "../../assets/scss/partials/block-reasons";
@import "../../assets/scss/partials/post-summary";
@import "../../assets/scss/partials/gutenberg";


body {
  overflow-x: visible;
}


/* Lists
---------------------------------------------------------------------------- */

.editor-block-list__block li {
	line-height: 1.625;
	margin-bottom: 0;
}

/* Preformatted elements
---------------------------------------------------------------------------- */

.wp-block-preformatted pre,
.wp-block-verse pre {
	font-family: monospace;
	font-size: 18px;
	line-height: 1.625 !important;
}

/* Separators
---------------------------------------------------------------------------- */

hr.wp-block-separator {
	border: none;
	border-bottom: 1px solid currentColor;
	color: #eee;
	margin: 1.65em auto;
}

.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
	height: 1px;
}

hr.wp-block-separator.is-style-dots {
	border-width: 0;
	color: #333;
}

/* Tables
---------------------------------------------------------------------------- */

table {
	width: 100%;
}

.wp-block-table {
	line-height: 2;
}

.wp-block-table td,
.wp-block-table th,
.wp-block-table tr {
	border: none;
	vertical-align: top;
}

.wp-block-table th {
	font-weight: 500;
}

.wp-block-table tr {
	border-top: 1px solid #eee;
}

.wp-block-table tr:last-of-type {
	border-bottom: 1px solid #eee;
}

.wp-block-table tbody {
	border-bottom: 1px solid #eee;
}

.wp-block-table.is-style-stripes {
	border-bottom-width: 0;
}

/* Galleries
---------------------------------------------------------------------------- */

.wp-block-gallery .blocks-gallery-item {
	margin-bottom: 16px;
}

/* Category Block
---------------------------------------------------------------------------- */

.wp-block-categories ul {
	margin-left: 0;
	padding-left: 0;
}

.wp-block-categories li {
	list-style-type: none;
}

.wp-block[data-align="right"] .wp-block-categories__list {
	text-align: right;
}

.wp-block[data-align="full"] .wp-block-categories__list {
	padding: 0 30px;
}

/* Latest Posts Block
---------------------------------------------------------------------------- */

.wp-block-latest-posts {
	margin-left: 0;
	padding-left: 0;
}

.wp-block-latest-posts li {
	list-style-type: none;
}

.wp-block[data-align="center"] .wp-block-latest-posts {
	text-align: center;
}

.wp-block[data-align="full"] .wp-block-latest-posts {
	padding: 0 30px;
}


// .gb-block-post-grid .gb-post-grid-items h2 a:hover,
// .block-editor__container .editor-styles-wrapper a {
// 	color: {$appearance['link-color']};
// }

// .editor-styles-wrapper .editor-rich-text .button,
// .editor-styles-wrapper .wp-block-button .wp-block-button__link:not(.has-background) {
// 	background-color: {$appearance['button-bg']};
// 	color: {$appearance['button-color']};
// }

// .editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link {
// 	color: {$appearance['button-bg']};
// }

// .editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:focus,
// .editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:hover {
// 	color: {$appearance['button-outline-hover']};
// }

