@mixin base-style {
  color: $grey_9;
  font-family: $sans-serif;
  @include font-sizes(16px, 17px, 18px);
  font-weight: 300;
  line-height: 1.45;
  overflow-x: hidden;

  @media print {
    font-family: sans-serif;
  }
}
