@mixin base-style {
  color: $grey_9;
  font-family: $sans-serif;
  @include font-sizes(16px, 18px);
  font-weight: 400;
  line-height: 1.55;
  overflow-x: hidden;

  @media print {
    font-family: sans-serif;
  }
}

@mixin transition {
  transition: all 0.2s ease-in-out;
}

%alt_link {
  color: brand-color( 'green' );
  font-weight: 400;

  &:hover {
    color: $grey_7;
    text-decoration: none;
  }
}
