@charset "UTF-8";
/**
 * Brand Color
 * 
 * Use: brand-color( 'blue', 'darken' );
 * The color has to be declare in the variable $brandcolors in base.scss
 *
 */
/**
 * Brand Color
 * 
 * Use: brand-color( 'blue', 'darken' );
 * The color has to be declare in the variable $brandcolors in base.scss
 *
 */
/**
 * Button Reset
 *
 */
/**
 * Grid, Center Last
 *
 */
/**
 * Margin, No Edge
 * Removes left margin from first item, right margin from last item
 */
/**
 * Icon Position
 *
 */
/**
 * Block Cover
 * Creates a block that covers the full width/height of parent div. Typically used on a :before pseudo element
 */
/**
 * Placeholder Color
 *
 */
/**
 * Clearfix
 *
 */
/**
 * Font Sizes
 *
**/
/**
 * Columns
 *
 */
/* Typographical Elements
--------------------------------------------- */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 960px) {
  html {
    font-size: 18px;
  }
}

body {
  color: #414243;
  font-family: "Wotfard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.45;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  body {
    font-size: 17px;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 18px;
  }
}
@media print {
  body {
    font-family: sans-serif;
  }
}

button,
input:focus,
input[type=button],
input[type=reset],
input[type=submit],
textarea:focus,
.button,
.gallery img {
  transition: all 0.15s ease-in-out;
}

a {
  color: #334e79;
  text-decoration: underline;
  -webkit-text-decoration-color: #757575;
          text-decoration-color: #757575;
  font-weight: 500;
  transition: all 0.15s ease-in-out;
}
a:hover {
  color: #757575;
  text-decoration: none;
}
a svg {
  transition: all 0.15s ease-in-out;
}
.go-link a {
  position: relative;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
.go-link a::after {
  content: "➜";
  font-weight: 300;
  font-size: 90%;
  position: absolute;
  transform: translateX(4px);
  transition: all 0.15s ease-in-out;
}
.go-link a:hover::after {
  transform: translateX(9px);
}

ol,
ul {
  margin: 0;
  padding: 0;
}

ul.no-style {
  list-style-type: none;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-bottom: 1px solid currentColor;
  clear: both;
  color: #eeeeee;
  margin: 1.65em auto;
}

strong {
  font-weight: 500;
}

em,
i {
  font-style: italic;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Paragraph
--------------------------------------------- */
p {
  margin: 0 0 28px;
  padding: 0;
}

.has-small-font-size {
  font-size: 0.8rem;
}

.has-normal-font-size {
  font-size: 1rem;
}

.has-large-font-size {
  font-size: 1.24rem;
  line-height: 1.42;
}

.has-huge-font-size {
  font-size: 1.6rem;
  line-height: 1.42;
}

/* Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #414243;
  font-family: "Argesta", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0.6em 0 0.4em;
}
.entry-content > h1,
.entry-content > h2,
.entry-content > h3,
.entry-content > h4,
.entry-content > h5,
.entry-content > h6 {
  margin-top: 1em;
}
h1.bigger,
h2.bigger,
h3.bigger,
h4.bigger,
h5.bigger,
h6.bigger {
  font-size: 2.4em;
  font-style: italic;
  font-weight: 300;
}
@media (min-width: 768px) {
  h1.bigger,
h2.bigger,
h3.bigger,
h4.bigger,
h5.bigger,
h6.bigger {
    font-size: 3.2em;
  }
}
@media (min-width: 960px) {
  h1.bigger,
h2.bigger,
h3.bigger,
h4.bigger,
h5.bigger,
h6.bigger {
    font-size: 4em;
  }
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #414243;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #334e79;
}
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus {
  outline: none;
}

h1 {
  font-size: 2.4em;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.8em;
  }
}
@media (min-width: 960px) {
  h1 {
    font-size: 3.5em;
  }
}

h2,
h1.entry-title {
  font-size: 1.8em;
}
@media (min-width: 768px) {
  h2,
h1.entry-title {
    font-size: 2em;
  }
}
@media (min-width: 960px) {
  h2,
h1.entry-title {
    font-size: 2.5em;
  }
}

h3 {
  font-size: 1.7em;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2em;
  }
}
@media (min-width: 960px) {
  h3 {
    font-size: 2.3em;
  }
}

h4 {
  font-size: 1.5em;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.8em;
  }
}
@media (min-width: 960px) {
  h4 {
    font-size: 2.1em;
  }
}

h5,
h6 {
  font-size: 1.1em;
}
@media (min-width: 768px) {
  h5,
h6 {
    font-size: 1.4em;
  }
}

h6 {
  text-transform: uppercase;
}

/* Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: top;
}

figure {
  margin: 0;
}

/* Button
--------------------------------------------- */
.wp-block-button__link {
  border: 2px solid #334e79;
  border-radius: 2px;
  font-family: "Wotfard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  padding: 16px 32px;
  text-decoration: none;
}
@media (max-width: 600px) {
  .wp-block-button__link {
    padding: 13px 28px;
  }
}
.wp-block-button__link:not(.has-text-color) {
  color: white;
}
.wp-block-button__link:not(.has-text-color):hover {
  color: white;
}
.wp-block-button__link:not(.has-background) {
  background-color: #334e79;
}
.wp-block-button__link:not(.has-background):hover, .wp-block-button__link:not(.has-background):focus {
  border: 2px solid #243755;
  background-color: #243755;
}
.white .wp-block-button__link {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #334e79;
}
.is-style-outline > .wp-block-button__link:not(.has-text-color), .wp-block-button__link.is-style-outline {
  border: 2px solid #334e79;
  color: #334e79;
  background-color: transparent;
}
.is-style-outline > .wp-block-button__link:not(.has-text-color):hover, .is-style-outline > .wp-block-button__link:not(.has-text-color):focus, .wp-block-button__link.is-style-outline:hover, .wp-block-button__link.is-style-outline:focus {
  border: 2px solid #334e79;
  background-color: #334e79;
  color: #ffffff;
}
.wp-block-button__link.has-midnight-color:hover, .wp-block-button__link.has-midnight-color:focus {
  color: #334e79;
}
.wp-block-button__link.has-midnight-background-color:hover, .wp-block-button__link.has-midnight-background-color:focus {
  background-color: #243755;
}
.wp-block-button__link.has-lighten-blue-color:hover, .wp-block-button__link.has-lighten-blue-color:focus {
  color: #b5cddf;
}
.wp-block-button__link.has-lighten-blue-background-color:hover, .wp-block-button__link.has-lighten-blue-background-color:focus {
  background-color: #91b5d0;
}
.wp-block-button__link.has-blue-color:hover, .wp-block-button__link.has-blue-color:focus {
  color: #91B5D0;
}
.wp-block-button__link.has-blue-background-color:hover, .wp-block-button__link.has-blue-background-color:focus {
  background-color: #6d9dc1;
}
.wp-block-button__link.has-darken-blue-color:hover, .wp-block-button__link.has-darken-blue-color:focus {
  color: #6d9dc1;
}
.wp-block-button__link.has-darken-blue-background-color:hover, .wp-block-button__link.has-darken-blue-background-color:focus {
  background-color: #4b85b0;
}
.wp-block-button__link.has-gold-color:hover, .wp-block-button__link.has-gold-color:focus {
  color: #B79B70;
}
.wp-block-button__link.has-gold-background-color:hover, .wp-block-button__link.has-gold-background-color:focus {
  background-color: #a28352;
}
.wp-block-button__link.has-grey-color:hover, .wp-block-button__link.has-grey-color:focus {
  color: #f7f4f2;
}
.wp-block-button__link.has-grey-background-color:hover, .wp-block-button__link.has-grey-background-color:focus {
  background-color: #e4d9d2;
}
.wp-block-button__link.has-white-color:hover, .wp-block-button__link.has-white-color:focus {
  color: #ffffff;
}
.wp-block-button__link.has-white-background-color:hover, .wp-block-button__link.has-white-background-color:focus {
  background-color: #e6e6e6;
}
.wp-block-button__link.has-dark-grey-color:hover, .wp-block-button__link.has-dark-grey-color:focus {
  color: #414243;
}
.wp-block-button__link.has-dark-grey-background-color:hover, .wp-block-button__link.has-dark-grey-background-color:focus {
  background-color: #282929;
}

/* Blockquote
--------------------------------------------- */
blockquote.wp-block-quote {
  position: relative;
  padding: 2% 0 0 2%;
}
blockquote.wp-block-quote::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  height: 140px;
  top: -45px;
  left: -2%;
  background: transparent url(../icons/utility/quote.svg) no-repeat top left;
  background-size: 120px;
  text-align: left;
  opacity: 0.085;
}
blockquote.wp-block-quote::after {
  content: "";
  display: block;
  position: absolute;
  width: 140px;
  height: 140px;
  bottom: -45px;
  right: -2%;
  background: transparent url(../icons/utility/quote.svg) no-repeat top left;
  background-size: 120px;
  transform: rotate(180deg);
  text-align: right;
  opacity: 0.085;
}
blockquote.wp-block-quote p {
  color: #252525;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}
blockquote.wp-block-quote cite {
  color: #252525;
  display: block;
  font-size: 85%;
  font-weight: 700;
  margin-top: 12px;
  opacity: 0.5;
  text-transform: uppercase;
}
blockquote.wp-block-quote p:last-of-type {
  margin-bottom: 0;
}
blockquote.wp-block-quote.is-style-large {
  padding: 4% 0 0 4%;
}
blockquote.wp-block-quote.is-style-large p {
  color: #252525;
  font-size: 18px;
}
@media (min-width: 768px) {
  blockquote.wp-block-quote.is-style-large p {
    font-size: 20px 22px;
  }
}
blockquote.wp-block-quote.is-style-large::before {
  left: -3%;
  background-size: 155px;
}
blockquote.wp-block-quote.is-style-large::after {
  content: none;
}

.wp-block-pullquote {
  text-align: left;
  padding: 0;
  margin: 20px 0;
}
.wp-block-pullquote blockquote {
  margin: 0;
  padding: 4% 8%;
  background-color: #f7f4f2;
  border-left: 3px solid #91B5D0;
}
.wp-block-pullquote blockquote p {
  color: #252525;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .wp-block-pullquote blockquote p {
    font-size: 19px;
  }
}
@media (min-width: 960px) {
  .wp-block-pullquote blockquote p {
    font-size: 20px;
  }
}

/* Separator
--------------------------------------------- */
.wp-block-separator,
hr {
  background: transparent;
  border: none;
  width: 100%;
  height: 32px;
  position: relative;
}
.wp-block-separator::before,
hr::before {
  background: #e0e0e0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  margin-top: -0.5px;
}

/* Image and Gallery
--------------------------------------------- */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
img.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}
img.alignright {
  float: right;
  margin: 0 0 20px 20px;
}
img.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

.wp-block-image figcaption {
  color: #757575;
  text-align: left;
  font-size: 14px;
  font-style: normal;
}

.site-container .blocks-gallery-grid,
.site-container .wp-block-gallery,
.site-container .wp-block-social-links {
  padding-left: 0;
}

.wp-block-gallery.no-margin .blocks-gallery-item {
  margin: 0 !important;
}

/* Tables
--------------------------------------------- */
.wp-block-table {
  border-collapse: collapse;
  width: 100%;
}
.wp-block-table td, .wp-block-table th {
  padding: 0.5em;
  border: 1px solid;
}

/* Color Options
--------------------------------------------- */
.has-midnight-color {
  color: #334e79;
}

.has-midnight-background-color {
  background-color: #334e79;
}

.has-lighten-blue-color {
  color: #b5cddf;
}

.has-lighten-blue-background-color {
  background-color: #b5cddf;
}

.has-blue-color {
  color: #91B5D0;
}

.has-blue-background-color {
  background-color: #91B5D0;
}

.has-darken-blue-color {
  color: #6d9dc1;
}

.has-darken-blue-background-color {
  background-color: #6d9dc1;
}

.has-gold-color {
  color: #B79B70;
}

.has-gold-background-color {
  background-color: #B79B70;
}

.has-grey-color {
  color: #f7f4f2;
}

.has-grey-background-color {
  background-color: #f7f4f2;
}

.has-white-color {
  color: #ffffff;
}

.has-white-background-color {
  background-color: #ffffff;
}

.has-dark-grey-color {
  color: #414243;
}

.has-dark-grey-background-color {
  background-color: #414243;
}

.site-container p.has-background {
  padding: 1.1rem 2.2rem;
}
.site-container p.has-background.box-shadow {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.4);
}

/* Columns
--------------------------------------------- */
@media (min-width: 782px) {
  .wp-block-columns.right-column-border {
    justify-content: flex-end;
  }
  .wp-block-columns.right-column-border .wp-block-column {
    position: relative;
  }
  .wp-block-columns.right-column-border .wp-block-column:last-child::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    left: -20px;
  }
  .wp-block-columns.right-column-border.dark-grey .wp-block-column:last-child::before {
    background-color: #e0e0e0;
  }
}
@media (max-width: 781px) {
  .reverse-columns {
    flex-direction: column-reverse;
  }
  .reverse-columns .wp-block-column:nth-child(2n) {
    margin-bottom: 20px;
  }

  .wp-block-columns .wp-block-column:nth-child(2n) {
    margin-left: 0;
  }
}
/* Group
--------------------------------------------- */
.wp-block-group .wp-block-group__inner-container {
  max-width: 768px;
  margin: 0 auto;
}
.wp-block-group .wp-block-group__inner-container:after {
  content: "";
  display: table;
  clear: both;
}
.wp-block-group .wp-block-group__inner-container > *:last-child {
  margin-bottom: 0;
}
.wp-block-group.alignwide .wp-block-group__inner-container, .wp-block-group.alignfull .wp-block-group__inner-container {
  max-width: 1340px;
}
.wp-block-group.has-background:not(.has-grey-background-color):not(.has-white-background-color) {
  color: #ffffff;
}
.wp-block-group.has-background:not(.has-grey-background-color):not(.has-white-background-color) h1, .wp-block-group.has-background:not(.has-grey-background-color):not(.has-white-background-color) h2, .wp-block-group.has-background:not(.has-grey-background-color):not(.has-white-background-color) h3, .wp-block-group.has-background:not(.has-grey-background-color):not(.has-white-background-color) h4, .wp-block-group.has-background:not(.has-grey-background-color):not(.has-white-background-color) h5, .wp-block-group.has-background:not(.has-grey-background-color):not(.has-white-background-color) h6, .wp-block-group.has-background:not(.has-grey-background-color):not(.has-white-background-color) p {
  color: #ffffff;
}
.wp-block-group.stretch {
  height: 100%;
}
.wp-block-group.bb-green-1 {
  border-bottom: 3px solid #b5cddf;
}
.wp-block-group.bb-green-2 {
  border-bottom: 3px solid #91B5D0;
}
.wp-block-group.bb-green-3 {
  border-bottom: 3px solid #6d9dc1;
}

.full-width-content .entry-content .wp-block-group,
.full-width-content .entry-content .wp-block-group.alignwide,
.full-width-content .entry-content .wp-block-group.alignfull,
.full-width-content .block-area .wp-block-group,
.full-width-content .block-area .wp-block-group.alignwide,
.full-width-content .block-area .wp-block-group.alignfull,
.content-width .entry-content .wp-block-group,
.content-width .entry-content .wp-block-group.alignwide,
.content-width .entry-content .wp-block-group.alignfull,
.content-width .block-area .wp-block-group,
.content-width .block-area .wp-block-group.alignwide,
.content-width .block-area .wp-block-group.alignfull {
  padding: 1.375rem;
}

/* Cover
--------------------------------------------- */
.full-width-content .entry-content > *.wp-block-cover.alignwide, .full-width-content .entry-content > *.wp-block-cover.alignfull, .content-width .entry-content > *.wp-block-cover.alignwide, .content-width .entry-content > *.wp-block-cover.alignfull,
.full-width-content .block-area > *.wp-block-cover.alignwide,
.full-width-content .block-area > *.wp-block-cover.alignfull,
.content-width .block-area > *.wp-block-cover.alignwide,
.content-width .block-area > *.wp-block-cover.alignfull {
  padding: 80px 1.375rem;
  margin-bottom: 4.4rem;
}
.full-width-content .entry-content > *.wp-block-cover.alignwide.no-mb, .full-width-content .entry-content > *.wp-block-cover.alignfull.no-mb, .content-width .entry-content > *.wp-block-cover.alignwide.no-mb, .content-width .entry-content > *.wp-block-cover.alignfull.no-mb,
.full-width-content .block-area > *.wp-block-cover.alignwide.no-mb,
.full-width-content .block-area > *.wp-block-cover.alignfull.no-mb,
.content-width .block-area > *.wp-block-cover.alignwide.no-mb,
.content-width .block-area > *.wp-block-cover.alignfull.no-mb {
  margin-bottom: 0;
}
.full-width-content .entry-content > *.wp-block-cover.alignwide.no-margin, .full-width-content .entry-content > *.wp-block-cover.alignfull.no-margin, .content-width .entry-content > *.wp-block-cover.alignwide.no-margin, .content-width .entry-content > *.wp-block-cover.alignfull.no-margin,
.full-width-content .block-area > *.wp-block-cover.alignwide.no-margin,
.full-width-content .block-area > *.wp-block-cover.alignfull.no-margin,
.content-width .block-area > *.wp-block-cover.alignwide.no-margin,
.content-width .block-area > *.wp-block-cover.alignfull.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

/** The Wave Block Decorations
--------------------------------------------- */
/* Media and Text (remove the padding for alignfull and alignwide)
--------------------------------------------- */
.full-width-content .entry-content *.wp-block-media-text.alignwide, .full-width-content .entry-content *.wp-block-media-text.alignfull, .content-width .entry-content *.wp-block-media-text.alignwide, .content-width .entry-content *.wp-block-media-text.alignfull,
.full-width-content .block-area *.wp-block-media-text.alignwide,
.full-width-content .block-area *.wp-block-media-text.alignfull,
.content-width .block-area *.wp-block-media-text.alignwide,
.content-width .block-area *.wp-block-media-text.alignfull {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 599px) {
  .full-width-content .entry-content *.wp-block-media-text.alignwide, .full-width-content .entry-content *.wp-block-media-text.alignfull, .content-width .entry-content *.wp-block-media-text.alignwide, .content-width .entry-content *.wp-block-media-text.alignfull,
.full-width-content .block-area *.wp-block-media-text.alignwide,
.full-width-content .block-area *.wp-block-media-text.alignfull,
.content-width .block-area *.wp-block-media-text.alignwide,
.content-width .block-area *.wp-block-media-text.alignfull {
    margin-bottom: 4.4rem;
  }
  .full-width-content .entry-content *.wp-block-media-text.alignwide .wp-block-media-text__content, .full-width-content .entry-content *.wp-block-media-text.alignfull .wp-block-media-text__content, .content-width .entry-content *.wp-block-media-text.alignwide .wp-block-media-text__content, .content-width .entry-content *.wp-block-media-text.alignfull .wp-block-media-text__content,
.full-width-content .block-area *.wp-block-media-text.alignwide .wp-block-media-text__content,
.full-width-content .block-area *.wp-block-media-text.alignfull .wp-block-media-text__content,
.content-width .block-area *.wp-block-media-text.alignwide .wp-block-media-text__content,
.content-width .block-area *.wp-block-media-text.alignfull .wp-block-media-text__content {
    padding: 8%;
  }
}

/** Contact Form 7
---------------------------------------------------------------------------- */
.lcm-cf7-form .lcm-cf7-form_columns {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .lcm-cf7-form .lcm-cf7-form_columns {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
.lcm-cf7-form .lcm-cf7-form__input input {
  margin: 20px 0;
  padding: 14px 36px;
  width: auto;
  min-width: 230px;
  border: none;
  color: #ffffff;
  background-color: #334e79;
}
.lcm-cf7-form .lcm-cf7-form__input input:hover {
  background-color: #42659d;
}

/* Genesis Blocks
---------------------------------------------------------------------------- */
.gb-block-post-grid h2 a {
  text-decoration: none;
}

.gb-block-post-grid .gb-post-grid-items h2 a:hover {
  color: #91B5D0;
}

@media only screen and (max-width: 510px) {
  .gb-block-container.alignfull::before {
    content: " ";
    display: table;
  }

  .gb-block-container.alignfull::after {
    clear: both;
    content: " ";
    display: table;
  }
}
.entry-content > * .wp-block-genesis-blocks-gb-testimonial,
.block-area > * .wp-block-genesis-blocks-gb-testimonial {
  border-radius: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.entry-content > * .wp-block-genesis-blocks-gb-testimonial.stretch,
.block-area > * .wp-block-genesis-blocks-gb-testimonial.stretch {
  height: 100%;
}
.entry-content > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-text,
.block-area > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-text {
  font-style: italic;
}
.entry-content > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-info,
.block-area > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-info {
  padding: 0;
}
.entry-content > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-info .gb-testimonial-avatar-wrap,
.block-area > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-info .gb-testimonial-avatar-wrap {
  top: 50%;
  transform: translateY(-50%);
}
.entry-content > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-info .gb-testimonial-avatar-wrap .gb-testimonial-image-wrap,
.block-area > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-info .gb-testimonial-avatar-wrap .gb-testimonial-image-wrap {
  width: 40px;
  height: 40px;
}
.entry-content > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-info .gb-testimonial-name,
.entry-content > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-info small,
.block-area > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-info .gb-testimonial-name,
.block-area > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-info small {
  font-size: 16px;
}
.entry-content > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-info .gb-testimonial-name,
.block-area > * .wp-block-genesis-blocks-gb-testimonial .gb-testimonial-info .gb-testimonial-name {
  margin-bottom: 10px;
  color: #334e79 !important;
}

/** Genesis Blocks Accordions
------------------------------------------------------ */
.gb-block-accordion {
  margin-bottom: 10px;
  border-bottom: 2px solid #91B5D0;
}
.gb-block-accordion details:hover {
  cursor: pointer;
}
.gb-block-accordion details .gb-accordion-title {
  position: relative;
  font-family: "Argesta", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 18px;
  padding: 15px 45px 15px 10px;
  background-color: #f7f4f2;
}
@media (min-width: 768px) {
  .gb-block-accordion details .gb-accordion-title {
    font-size: 20px;
  }
}
@media (min-width: 960px) {
  .gb-block-accordion details .gb-accordion-title {
    font-size: 20px;
  }
}
.gb-block-accordion details .gb-accordion-title strong {
  font-size: 140%;
  margin-right: 20px;
  color: #334e79;
}
.gb-block-accordion details .gb-accordion-title::marker {
  content: "";
}
.gb-block-accordion details .gb-accordion-title:after {
  content: url("../../assets/icons/utility/navigate-down-midnight.svg");
  position: absolute;
  right: 2.4rem;
  top: 45%;
  right: 20px;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  transform-origin: center center;
}
.gb-block-accordion details[open] .gb-accordion-title {
  background-color: #ffffff;
  color: #334e79;
}
.gb-block-accordion details[open] .gb-accordion-title::after {
  transform: rotate(180deg) translateY(-50%);
}
.gb-block-accordion details[open] .gb-accordion-text {
  background-color: #ffffff;
}
.gb-block-accordion .gb-accordion-text {
  padding: 20px 1.375rem;
}

.entry-content .gb-block-accordion + .gb-block-accordion {
  margin-top: -0.5em;
}

/** Genesis Blocks - Post and Page Grid
--------------------------------------------------------------- */
.gb-block-post-grid.twc-post-grid .is-grid.columns-3 {
  grid-template-columns: 1fr;
}
@media (min-width: 768px) and (max-width: 959px) {
  .gb-block-post-grid.twc-post-grid .is-grid.columns-3 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 960px) {
  .gb-block-post-grid.twc-post-grid .is-grid.columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.gb-block-post-grid.twc-post-grid .is-grid article:first-child {
  grid-column: 1/-1;
}
@media (min-width: 961px) {
  .gb-block-post-grid.twc-post-grid .is-grid article:first-child {
    grid-column: 1/3;
  }
}
.gb-block-post-grid.twc-post-grid .gb-block-post-grid-image {
  margin-bottom: 0;
}
.gb-block-post-grid.twc-post-grid .gb-block-post-grid-image a {
  display: block;
  position: relative;
  padding-top: 66%;
}
@media (min-width: 960px) {
  .gb-block-post-grid.twc-post-grid .gb-block-post-grid-image a {
    padding-top: 220px;
  }
}
@media (min-width: 1140px) {
  .gb-block-post-grid.twc-post-grid .gb-block-post-grid-image a {
    padding-top: 280px;
  }
}
.gb-block-post-grid.twc-post-grid .gb-block-post-grid-image a img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
}
.gb-block-post-grid.twc-post-grid .gb-block-post-grid-text {
  padding: 20px 1.375rem;
  background-color: #f7f4f2;
}

/** Custom lists
----------------------------------------------------------------- */
ul.check-list {
  list-style: none;
}
ul.check-list li {
  position: relative;
}
ul.check-list li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -24px;
  display: inline-block;
  height: 18px;
  width: 18px;
  background-image: url(../icons/utility/circle-checked.svg);
  background-size: cover;
}
ul.white-links a {
  color: #ffffff;
  -webkit-text-decoration-color: #ffffff;
          text-decoration-color: #ffffff;
}
ul.white-links a:hover, ul.white-links a:focus {
  color: #bdbdbd;
  text-decoration: none;
}

@media (max-width: 599px) {
  .no-mobile {
    display: none;
  }
}
/** The Wave schedule List
------------------------------------------------------------------- */
@media (min-width: 601px) and (max-width: 768px) {
  .entry-content .wp-block-group.schedule {
    padding-left: 0;
  }
}
.entry-content .wp-block-group.schedule .list-schedule {
  list-style: none;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .entry-content .wp-block-group.schedule .list-schedule {
    padding-left: 0;
  }
}
.entry-content .wp-block-group.schedule .list-schedule strong {
  font-size: 140%;
  margin-right: 3%;
  display: inline-block;
  min-width: 4.25ch;
}

.thewave-title,
.thewave-subtitle {
  margin-bottom: 0;
  line-height: 0.8;
  letter-spacing: 0.25em;
}

/* Post Summary
---------------------------------------------------------------------------------------------------- */
.post-summary {
  margin-bottom: 32px;
}

.post-summary__title {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.post-summary__title a {
  color: #252525;
  text-decoration: none;
}
.post-summary__title a:hover {
  color: #243755;
}

.post-summary__image {
  display: block;
}
@media (min-width: 601px) {
  .post-summary__image {
    margin-bottom: 12px;
  }
}

.entry-category {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4px;
}
.entry-category a {
  color: #616161;
  text-decoration: none;
}
.entry-category a:hover {
  color: #243755;
}

body, p {
  color: #414243;
  font-family: "Wotfard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.45;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  body, p {
    font-size: 17px;
  }
}
@media (min-width: 960px) {
  body, p {
    font-size: 18px;
  }
}
@media print {
  body, p {
    font-family: sans-serif;
  }
}

/* Post title width */
.editor-post-title__block.wp-block {
  max-width: 768px;
  /* Post title styling */
}

/* Main column width */
.wp-block {
  max-width: 768px;
  /* Wide column width */
}
.wp-block[data-align=wide], .wp-block[data-align=full] {
  max-width: none;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 0;
  padding-left: 0;
}

.wp-block-image {
  line-height: 0;
}

.wp-block-button.is-style-full,
.wp-block-button.is-style-full .block-editor-rich-text,
div[data-type="core/button"] div[data-block] {
  display: block;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100%;
}

ul, ol {
  padding-left: 1.5rem;
}
ul li:not(.blocks-gallery-item), ol li:not(.blocks-gallery-item) {
  padding-bottom: 0.5rem;
}
ul li:not(.blocks-gallery-item):last-child, ol li:not(.blocks-gallery-item):last-child {
  padding-bottom: 0;
}
ul li:not(.blocks-gallery-item) ul, ul li:not(.blocks-gallery-item) ol, ol li:not(.blocks-gallery-item) ul, ol li:not(.blocks-gallery-item) ol {
  padding-top: 0.5rem;
}
ul.wp-block-gallery, ol.wp-block-gallery {
  padding-left: 0;
}
ul.wp-block-gallery li, ol.wp-block-gallery li {
  padding-bottom: 0;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  padding-left: 1.8rem;
}
ol li {
  counter-increment: my-awesome-counter;
  position: relative;
  margin: 0 0 0.4rem 0;
}
ol li::before {
  content: counter(my-awesome-counter);
  position: absolute;
  background: #91B5D0;
  background: #c8ddec;
  width: 1.3rem;
  height: 1.3rem;
  left: -1.8rem;
  top: 0.15rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 1.8;
  color: #252525;
  font-size: 75%;
  text-align: center;
  margin-right: 0.5rem;
}

ol ol li::before {
  background: #DE51FF;
}

ol ol ol li::before {
  background: #EE9EFF;
}

/** Custom classes
-------------------------------------------------------- */
.bb-green-1 {
  border-bottom: 3px solid #b5cddf;
}

.bb-green-2 {
  border-bottom: 3px solid #91B5D0;
}

.bb-green-3 {
  border-bottom: 3px solid #6d9dc1;
}

.bb-green-4 {
  border-bottom: 3px solid #6d9dc1;
}

.editor-styles-wrapper .wp-block-group .wp-block-group__inner-container {
  max-width: 1340px;
}
/*# sourceMappingURL=editor-style.css.map */